.menu a{
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 20px;
    
}
.menu {
    display: flex;
    justify-content: end;
    background-color: #ffde00;

}

h2{
    text-align: center;
    margin-top: 0;
}

h1{
    text-align: center;
}
.div1{
    background-color:#ffde00; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.card{
    background-color: yellow;
    min-width: 200px; 
    text-align: center;
    margin: 0px 15px;
    padding: 40px 20px;
    
     
}
.contenitore{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}
.sfondo{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("immagini/sfondo.jpg");
    background-position: center center;
    background-size: cover;
    min-height: 60vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.card a{
    color: #000000;
}
body{
    margin: 0;
}
.piè{
    display: flex;
    min-height: 30vh;
    flex-direction: column;
    
}
.fondopagina{
    background-color: darkgray;
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    }
.piè h3 {
    margin-left: 20px;
    margin-top: 20px;
}
.piè p{
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 50px;
}
.piè i{
    margin-left: 20px;
    margin-top: -10px;
    margin-bottom: 30px;
}
.divprincipale{
    display: flex;
    background-color: #ffde00;
    justify-content: center;
}
.piè2{
    margin-left: 100px;
}
.fondopagina p{
    margin-right: 100px;
}
.piè3{
    margin-left: 60px;
    
}
.fondopagina img{
    margin-right: 20px;
}


