.menu a{
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 20px;
    
}
.menu {
    display: flex;
    justify-content: end;
    background-color: #ffde00;

}

h2{
    text-align:center;
    margin-top: 0;
}

h1{
    text-align: center;
}
.div1{
    background-color:#ffde00; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
body{
    margin: 0;
}
.sfondo{
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}